.wrapper {
  width: 600px;
  height: 700px;
  background: #d6d6d6;
  margin: 0 auto;
}

#quiz {
  height: 500px;
  width: 400px;
  margin: 0 auto;
  padding-left: 150px;
  padding-top: 50px;
}

.wrapper input[type="radio"] {
margin-right: 6px;
}
