.footer_fon {
    background-image: url('../images/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
footer {
    width: 320px;
    height: 200px;
    margin: 0 auto;
}
.footer_nav {
    display: none;
    float: left;
    margin-top: 48px;

  & li {
    float: left;
    width: 120px;
    text-align: center;
}
  & a {
    font-family: "League Gothic";
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
}
.footer_designed {
    padding-top: 41px;
    padding-left: 8px;

  & p {
    font-size: 12px;
    color: #c7c7ca;
}
  & span {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.8px;
}
}
