.section_B_fon {
    background-color: #e3e3e3;
    border-top: 1px solid #f9f9f9;
    border-bottom: 1px solid #fefefe;
}
.section_B {
    width: 320px;
    height: 785px;
    margin: 0 auto;
}
.starts {
    float: left;
    width: 320px;
    margin-top: 350px;
}
.starts_comment {
    display: none;
}
.starts_photo {
    float: left;
    margin-top: -264px;
    margin-left: -64px;
}
.starts_text {
    float: left;
    width: 190px;
    height: 220px;
    margin-top: -257px;
    margin-left: -5px;
    overflow: hidden;

  & h1 {
    font-family: "League Gothic";
    font-size: 24px;
    text-transform: uppercase;
    color: #454545;
  }
  & h2 {
    font-family: "League Gothic";
    font-size: 24px;
    text-transform: uppercase;
    color: #edbfff;
  }
  & p {
    font-family: "Open Sans light";
    font-size: 16px;
    color: #454545;
    line-height: 1.5;
    padding-top: 5px;
    padding-left: 4px;
    letter-spacing: -0.1px;
  }
}
.updates {
    float: left;
    width: 280px;
    margin-top: 79px;
    margin-left: -65px;
    overflow: hidden;

  & h1 {
    font-family: "League Gothic";
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #454545;
    letter-spacing: -0.6px;
  }

  & a {
    float: right;
    font-family: "League Gothic";;
    font-size: 18px;
    color: #454545;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 18px;
    margin-right: 3px;
    letter-spacing: 0.45px;
  }
}
.updates_top {
    width: 320px;
    margin-top: 16px;
    margin-left: 1px;
    margin-bottom: 16px;
    overflow: hidden;

  & img {
    float: left;
    margin-right: 18px;
  }
  & h1 {
    float: left;
    font-family: "Open Sans extra bold";
    font-size: 16px;
    color: #454545;
    margin-top: -44px;
    padding-left: 66px;
    white-space: nowrap;
    letter-spacing: 1.6px;
    text-transform: inherit;
  }
  & p {
    font-family: "Open Sans light";
    font-size: 16px;
    color: #454545;
    white-space: nowrap;
    margin-top: 28px;
    letter-spacing: -0.1px;
  }
}
.updates_middle {
    width: 320px;
    margin-bottom: 22px;
    overflow: hidden;

  & img {
    float: left;
    margin-right: 18px;
    margin-left: 1px;
  }
  & h1 {
    float: left;
    font-family: "Open Sans extra bold";
    font-size: 16px;
    color: #454545;
    margin-top: -44px;
    margin-left: 67px;
    text-transform: inherit;
    letter-spacing: 1.6px;
    white-space: nowrap;
  }
  & p {
    font-family: "Open Sans light";
    font-size: 16px;
    color: #454545;
    white-space: nowrap;
    margin-top: 29px;
    letter-spacing: -0.1px;
  }
}
.updates_bottom {
    width: 320px;
    overflow: hidden;

  & img {
    float: left;
    margin-right: 18px;
    margin-left: 1px;
  }
  & h1 {
    float: left;
    font-family: "Open Sans extra bold";
    font-size: 16px;
    color: #454545;
    margin-top: -44px;
    margin-left: 67px;
    text-transform: inherit;
    letter-spacing: 1.6px;
    white-space: nowrap;
  }
  & p {
    font-family: "Open Sans light";
    font-size: 16px;
    color: #454545;
    white-space: nowrap;
    margin-top: 29px;
    letter-spacing: -0.1px;
  }
}
