& {
  &__list {
    text-align: center;
  }

  &__item { 
    padding-top: 18px;
  }
  
  &__link {
    @include header-text(14, $h_textColor);
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid $h_textColor;
    }
  }

  &--submenu {
    .menu__item {
      display: inline-block;
      padding: 0 11px 0 0;

      &--last {
        padding: 0;
      }
    }

    .menu__link {
      @include paragraph-text($p_textColor_partners);
      line-height: 24px;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid $p_textColor_partners;
      }
    }
  }
}
