& {
  text-align: center;
  padding-bottom: 18px;
  
  &__name {
    padding: 19px 0 10px;
    @include header-text(10, $p_textColor);
    text-transform: uppercase;
  }
  &__logo {
    width: 110px;
    height: 24px;
    margin: 0 auto;
  }
  &__icon {
    width: 100%;
  }
}
