body {
  margin: 50px;
  background-color: #efefef;
  padding: 10px;
}

h1 {
  text-align: center}

.about_me {
  border-bottom: 1px solid #999;
  text-align: center;
  padding: 10px;
}

.photo {
  text-align: center;
  padding: 10px;
  border-radius: 30px;
}

.img {
  border-radius: 10px;
}

.target {
  border-bottom: 1px solid #999;
  padding: 10px;
}
.contact_informations {
  border-bottom: 1px solid #999;
  background-color: white;
  box-shadow: 0 0 10px;
  padding: 10px;
}
.feedback {
  padding: 10px;
}
