 body {
  margin: 0;
  background-color: #efefef;
  padding: 0;
  font-size: 16px;
 }
 h2 {
  text-align: center}
.card-box{
  width: 550px;
  margin: 5px auto 50px;
  border-radius: 1px;
  padding: 52px;
  background-color: white;
  box-shadow: 0 0 10px;
  }
.card-title {
  text-align: center;
  text-transform: capitalize;
}
.card-img {
  text-align: center;
}
.card-img img {
  border: 0;
  border-radius: 10%;
}
.card-info {
  border-bottom: 1px solid #999;
  padding: 10px;
  text-indent: 20px;
}
.card-info ul li {
  text-indent: 0;
  margin-bottom: 10px;
}
.phone, .facebook {
  padding-left: 20px;
}
.phone {
   margin-bottom: 40px;
 }
 .phone p {
   margin-bottom: 0;
   text-indent: 0;
 }
 .phone a {
   text-decoration: none;
   color: #000;
 }
 .facebook p {
   margin-bottom: 0;
   text-indent: 0px;
 }
.feedback {
  padding-left: 20px;
}
.feedback p {
  margin-bottom: 10px;
}
