.header_fon {
    width: 100%;
    height: 817px;
    margin: 0 auto;
    border-bottom: 1px solid #33253a;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    width: 768px;
    height: 278px;
    margin: 0 auto;
    font-family: "League Gothic";
}
/*LOGO*/
.logo {
    display: block;
    float: left;
    margin: 0 auto;
    margin-top: 70px;
}
/*nav*/
.nav {
    width: 768px;
    margin-top: 31px;
    margin-left: -5px;
    float: left;

  & li {
    // width: 120px;
    float: left;
    text-align: center;
  }
  & li:first-child {
    width: 47px;
    margin-right: 25px;
  }
  & li:hover {
    border-bottom: 2px solid #edbfff;
  }
  & li a {
    font-family: "League Gothic";
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    // text-shadow: 1px #000;
  }
}
.nav .nav_about {
    width: 80px;
    margin-left: 3px;
}
.nav .nav_blog {
    margin-left: 33px;
}
.nav .nav_products {
    width: 110px;
    padding-left: 30px;
}
.nav .nav_lorem {
    width: 150px;
}
.nav .nav_dolor {
    width: 150px;
}
ul {
    width: 768px;
    height: 30px;
}
/*SLIDER*/
.fon_header_transperent {
    width: 100%;
    height: 400px;
    background-color: rgba(51, 37, 58, 0.5);
}
.slider {
    width: 768px;
    height: 400px;
    margin: 0 auto;
}
.text {
    float: left;
    width: 272px;
    height: 190px;
    margin-top: 83px;
    margin-left: 24px;
    overflow: hidden;

  & h1 {
    font-family: "League Gothic";
    color: #fff;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1.01px;
  }
  & h2 {
    font-family: "League Gothic";
    color: #edbfff;
    text-transform: uppercase;
    padding-top: 8px;
    white-space: nowrap;
    font-size: 24px;
  }
  & p {
    font-family: "Open Sans light";
    color: #d3d2d6;
    font-size: 16px;
    padding-top: 8px;
    letter-spacing: -.04px;
    line-height: 25px;
  }
}
.iphone {
    float: right;
    margin-top: -37px;
    margin-right: 66px;
}
