.section_A_fon {
    background-color: #6e4c7c;
    border-bottom: 2px solid #000;
}
.section_A {
    width: 768px;
    height: 261px;
    margin: 0 auto;
    padding-top: 79px;

  & h1 {
    font-family: "League Gothic";
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
  }
  & p {
    font-family: "Open Sans light";
    font-size: 16px;
    color: #c7c7ca;
    padding-top: 6px;
    line-height: 23px;
  }
  & a {
    float: right;
    font-family: "League Gothic";
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding-right: 40px;
  }
}
.left_block {
    float: left;
    width: 250px;
}
.left_block_img {
    float: left;
    width: 40px;
    margin-top: 1px;
    padding-left: 14px;
    margin-right: 10px;
}
.left_block_text {
    width: 165px;
    height: 172px;
    overflow: hidden;
    float: left;
    margin-top: -2px;
}
.center_block {
    float: left;
    width: 250px;
    margin-top: -2px;
}
.center_block_img {
    float: left;
    width: 40px;
    margin-top: 1px;
    padding-left: 14px;
    margin-right: 12px;
}
.center_block_text {
    width: 165px;
    height: 172px;
    overflow: hidden;
    float: left;
    // margin-right: 50px;
}
.right_block {
    float: left;
    width: 260px;
}
.right_block_img {
    float: left;
    width: 40px;
    padding-left: 20px;
    margin-right: 17px;
    padding-top: 6px;
}
.right_block_text {
    float: left;
    width: 165px;
    height: 172px;
    margin-top: -2px;
    overflow: hidden;
}
