.section_D_fon {
    height: 396px;
    background-color: #ececec;
    border-top: 1px solid #d8d8d8;
}
.section_D {
    width: 768px;
    margin: 0 auto;
}
.categories1 {
    float: left;
    width: 220px;
    height: 203px;
    overflow: hidden;
    margin-top: 103px;
    margin-bottom: 96px;
    margin-right: 46px;

  & h1 {
    font-family: "League Gothic";
    font-size: 24px;
    color: #454545;
    font-weight: 100;
    text-transform: uppercase;
  }
  & p {
    font-family: "Open Sans light";
    font-size: 16px;
    color: #787878;
    padding-top: 8px;
    line-height: 24px;
  }
}
.categories2 {
    float: left;
    width: 220px;
    height: 203px;
    overflow: hidden;
    margin-top: 101px;
    margin-right: 43px;
    margin-bottom: 96px;

  & h1 {
    font-family: "League Gothic";
    font-size: 24px;
    color: #454545;
    font-weight: 100;
    text-transform: uppercase;
  }
  & p {
    font-family: "Open Sans light";
    font-size: 16px;
    color: #787878;
    padding-top: 8px;
    line-height: 24px;
  }
}
.categories3 {
    float: left;
    width: 220px;
    height: 203px;
    overflow: hidden;
    margin-top: 103px;
    margin-bottom: 96px;

  & h1 {
    font-family: "League Gothic";
    font-size: 24px;
    color: #454545;
    font-weight: 100;
    text-transform: uppercase;
  }
  & p {
    font-family: "Open Sans light";
    font-size: 16px;
    color: #787878;
    padding-top: 8px;
    line-height: 24px;
  }
}
