// MEdia breakpoints
$mobile320: '(max-width: 479px)';
$mobile480: '(min-width: 480px) and (max-width: 767px)';
$desctop768: '(min-width: 768px) and (max-width: 959px)';
$desctop960: '(min-width: 960px)';
