<!DOCTYPE HTML>
<html>
<head>
    <title>URLAUBSGLÜCK</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link type="text/css" rel="stylesheet" href="css/app.css" />
    <meta name="author" content="Guzhyk">
    <meta name="description" content="work example">
</head>
<body>
  <div class="wrapper">
    <!-- PROMO  -->
    <div class="promo">
      <header class="promo__header">
        <ul class="auth">
          <li class="auth__item">
            <a href="#" class="auth__link">Log in</a>
          </li>
          <li class="auth__item">
            <a href="#" class="auth__link">Sign up</a>
          </li>
        </ul>
        <h2 class="promo__brand">URLAUBSGLÜCK</h2>
      </header>
      <h1 class="promo__title">
        Share your 
        <span>holiday dreams</span>
      </h1>
      <p class="promo__text">And find the perfect partner to fullfill it</p>
      <button class="btn promo__btn">Find your holiday partner</button>
    </div> 
    <!-- PROMO end -->
    <!-- MAIN -->
    <main>
      <!-- HOW IT WORKS -->
      <section class="howItWorks">
        <h2 class="items-title">How Urlaubsglück works?</h2>
        <div class="item__wrapper">

          <div class="slider" id="slider1">
            <article class="howItWorks__item howItWorks__item--bg1">
              <div class="btn btn--howItWorks">step 1</div>
              <div class="howItWorks__title">Sed leo enim, condimentum</div>
              <p class="howItWorks__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </article>
            <article class="howItWorks__item howItWorks__item--bg2">
              <div class="btn btn--howItWorks">step 2</div>
              <div class="howItWorks__title">Morbi velit risus</div>
              <p class="howItWorks__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
            </article>
            <article class="howItWorks__item howItWorks__item--bg3">
              <div class="btn btn--howItWorks">step 3</div>
              <div class="howItWorks__title">Sed leo enim, condimentum</div>
              <p class="howItWorks__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </article>
          </div>

          <div class="slider" id="slider2">
            <article class="howItWorks__item howItWorks__item--bg1">
              <div class="btn btn--howItWorks">step 1</div>
              <div class="howItWorks__title">Sed leo enim, condimentum</div>
              <p class="howItWorks__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </article>
            <article class="howItWorks__item howItWorks__item--bg2">
              <div class="btn btn--howItWorks">step 2</div>
              <div class="howItWorks__title">Morbi velit risus</div>
              <p class="howItWorks__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
            </article>
            <article class="howItWorks__item howItWorks__item--bg3">
              <div class="btn btn--howItWorks">step 3</div>
              <div class="howItWorks__title">Sed leo enim, condimentum</div>
              <p class="howItWorks__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </article>
          </div>

          <div class="slider" id="slider3">
            <article class="howItWorks__item howItWorks__item--bg1">
              <div class="btn btn--howItWorks">step 1</div>
              <div class="howItWorks__title">Sed leo enim, condimentum</div>
              <p class="howItWorks__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </article>
            <article class="howItWorks__item howItWorks__item--bg2">
              <div class="btn btn--howItWorks">step 2</div>
              <div class="howItWorks__title">Morbi velit risus</div>
              <p class="howItWorks__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
            </article>
            <article class="howItWorks__item howItWorks__item--bg3">
              <div class="btn btn--howItWorks">step 3</div>
              <div class="howItWorks__title">Sed leo enim, condimentum</div>
              <p class="howItWorks__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </article>
          </div>

        </div>
      </section>
      <!-- HOW IT WORKS end -->
      <!-- PARTNERS -->
      <section class="partners" id="partners">
        <h2 class="items-title items-title--partners">Meet a partner for your best holiday</h2>
        <div class="item__wrapper item__wrapper--partners">
          <div class="partners__item partners__item--first">
            <div class="partners__pic">
              <a href="#" class="partners__link">
                <img src="img/icon-partner-Bradley.png" alt="" class="partners__img">
              </a>
              <span class="partners__icon"></span>
            </div>
            <h3 class="partners__name">Bradley Hunter</h3>
            <p class="partners__info">Based in Chicago. I love playing tennis and loud music.</p>
          </div>
          <div class="partners__item partners__item--second">
            <div class="partners__pic">
              <a href="#" class="partners__link">
                <img src="img/icon-partner-Lucas.png" alt="" class="partners__img">
              </a>
              <span class="partners__icon"></span>
            </div>
            <h3 class="partners__name">Lucas Marsha</h3>
            <p class="partners__info">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
          </div>
          <div class="partners__item partners__item--third">
            <div class="partners__pic">
              <a href="#" class="partners__link">
                <img src="img/icon-partner-Heather.png" alt="" class="partners__img">
              </a>
              <span class="partners__icon"></span>
            </div>
            <h3 class="partners__name">Heather Walker</h3>
            <p class="partners__info">I'm a happy person that loves cats and climbing on mountains.</p>
          </div>
          <div class="partners__item partners__item--fourth">
            <div class="partners__pic">
              <a href="#" class="partners__link">
                <img src="img/icon-partner-Hunter.png" alt="" class="partners__img">
              </a>
              <span class="partners__icon"></span>
            </div>
            <h3 class="partners__name">Bradley Hunter</h3>
            <p class="partners__info">Based in Chicago. I love playing tennis and loud music.</p>
          </div>
        </div>
        <button class="btn btn--partners">See other partners</button>
      </section>
      <!-- PARTNERS end-->
      <!-- IDEAS -->
      <section class="ideas item__wrapper">
        <h2 class="items-title">Discover holiday activity ideas</h2>
        <div class="ideas-massonry">

        </div>
      </section>

      <!-- ///////////////
        Template for ideas-grid
      ///////////////// -->
      <script type='text/html' id="ideas">
        <div class="ideas-grid">
          <div class="ideas-sizer"></div>

          <% for(var i=0; i < 20; i++) {%>
            <div class="ideas__item">
              <img src="<%= hits[i].webformatURL %>" class="ideas__img" alt=" <%= hits[i].tags %> ">
              <div class="ideas__overlay"> 
                <p class="ideas__title">
                  <%= hits[i].tags %> 
                </p>
              </div>
            </div>
          <% } %>
        </div>
      </script>
      <!-- ///////////////
        Resig template 
      ///////////////// -->

      <!-- IDEAS end -->
      <!-- SEARCH -->
      <section class="search">
        <h2 class="items-title">Discover holiday activity ideas</h2>
        <p class="search__text">Hi! What are your holiday interests?</p>
        <div class="search__form">
          <input type="text" class="search__input" placeholder="Enter your interests">
          <button class="btn search__btn">Search partners</button>
        </div>
      </section>
      <!-- SEARCH end -->
    </main>
    <!-- MAIN end-->

    <footer class="footer">
      <div class="item__wrapper">
        <h2 class="footer__brand">URLAUBSGLÜCK</h2>
        <nav class="menu footer__menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="" class="menu__link">Company</a>
              <ul class="menu menu--submenu">
                <li class="menu--submenu menu__item"><a href="" class="menu--submenu menu__link">About</a></li>
                <li class="menu--submenu menu__item"><a href="" class="menu--submenu menu__link">Contacts</a></li>
                <li class="menu--submenu menu__item"><a href="" class="menu--submenu menu__link">Press</a></li>
                <li class="menu--submenu menu__item"><a href="" class="menu--submenu menu__link">Blog</a></li>
              </ul>
            </li>
            <li class="menu__item menu__item--last">
              <a href="#partners" class="menu__link">Partners</a>
            </li>
          </ul>
        </nav>
        <div class="design">
          <div class="design__name">Designed by</div>
          <div class="design__logo">
            <img src="img/icon-logo.png" alt="" class="design__icon">
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src='libs/libs.min.js'></script>
  <script src='js/main.js'></script>
</body>
</html>