& {
  &s-title {
    margin: 97px auto 36px;
    padding-right: 5px;
    @include header-text(22, $h_textColor);
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    height: auto;
    margin: 0 auto 38px;
    @include clearfix;
    transition: width 1s;
  }
}
